<h1>Edit Post</h1>
<form action="/admin/posts/edit/{{post._id}}?_method=PUT" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" type="text" class="form-control" id="title" value="{{post.title}}">
  </div>

  {{!-- <div class="form-group">
    <label for="Tag">Tags</label>
    <input name="name" type="text" class="form-control" id="tag" value="{{post.tags}}">
  </div> --}}

  {{!-- <div class="form-group">
    <label for="status">Tags</label>
    <select name="tag" id="status" class="form-control">
      {{#select post.tags}}
      {{#each tags}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div> --}}

  <div class="form-group">
    <label for="status">Tags</label>
    <select name="tags" id="status" class="form-control selectpicker" multiple>
      {{#select post.tags}}
      {{#each tags}}
      <option value="{{slug}}" {{{multiselect "{{slug}}"}}}>{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label for="excerpt">excerpt</label>
    <textarea name="excerpt" cols="30" rows="5" class="form-control" id="excerpt"
      placeholder="Enter excerpt">{{post.excerpt}}</textarea>
  </div>


  <div class="form-group">
    <label for="file">File Upload</label>
    <input type="file" name="file" class="form-control">
  </div>

  <div class="form-group">
    <label for="status">Category</label>
    <select name="category" id="status" class="form-control">
      {{#select post.category}}
      {{#each categories}}
      <option value="{{slug}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <select name="status" id="status" class="form-control">
      {{#select post.status}}
      <option value="public">Public</option>
      <option value="private">Private</option>
      <option value="draft">Draft</option>
      {{/select}}
    </select>
  </div>
  <div class="form-check">
    <label for="allowComments" class="form-check-label">
      <input name="allowComments" type="checkbox" {{#if post.allowComments}} checked="checked" {{/if}}
        class="form-check-input" id="allowComments">
      Allow Comments
    </label>
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    <textarea name="body" cols="30" rows="10" class="form-control" id="body">{{post.body}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Update Post</button>
</form>